* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    display: inline-block;
    width: 50%;
    min-height: auto;
    background: rgb(235, 229, 229);
    padding-top: 20px;
    margin: 80px; 
    padding-right: 90px;
}

.card::after {
    content: " ";
    display: block;
    clear: both;  
  }

  /* colors for the right half of the home page */
#titlebox {
    display: block;
    min-height: 0px;
    margin-top: 10px;
    width: 100%;
    background-color: rgb(172, 185, 176);
    color: black;
}

#postbox {
    display: block;
    min-height: 0px;
    margin-top: 10px;
    width: 100%;
    background-color: rgb(172, 185, 171);
    color: black;
}

#userbox {
    display: block;
    min-height: 0px;
    margin-top: 10px;
    width: 100%;
    background-color: rgb(172, 185, 174);
    color: black;
}

.light {
    background-color: rgb(172, 185, 174);
    color: black;
}

.dark {
    background-color: black;
    color: rgb(234, 228, 228);
}
.dark label {
    color: black;
}